:root {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
}

main {
  display: flex;
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  border: 1px black solid;
  text-align: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#name,
#name__subtitle {
  text-transform: uppercase;
}

#name {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

#name__subtitle {
  margin: 0;
  font-size: 1rem;
}

#history {
  flex-grow: 1;
  padding-left: 2rem;
  padding-right: 5rem;
}

#history section {
  padding-left: 2rem;
}

#history .section-title {
  text-transform: uppercase;
}

#history ol {
  list-style-type: none;
}

#history ol li {
  display: flex;
}

#history .date-range {
  margin-right: 1rem;
  font-weight: bold;
}

#history .list-item__header {
  margin: 0;
  font-size: 1.125rem;
}

#history .list-item__subtitle {
  margin: 0;
  font-style: italic;
  font-size: 0.9rem;
}
