#contact {
  text-transform: uppercase;
}

#photo {
  display: block;
  max-width: 200px;
  max-height: 95px;
  width: auto;
  height: auto;
  border-radius: 50%;
  border: solid 3px black;
  box-shadow: 0 0 3px transparent;
  margin: auto;
  margin-top: 1.5rem;
}

#personal {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: #eeeeee;
}

#personal ul {
  list-style-type: none;
  padding-left: 0.5rem;
}

#personal ul li {
  display: flex;
  margin-bottom: 1rem;
  align-items: baseline;
}

#personal .icon {
  margin-right: 0.25rem;
}

.personal__data,
.personal__data--link {
}
