#contact {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125rem;
  margin-top: 2.5rem;
}

#photo {
  display: block;
  max-width: calc(709px * 0.2);
  max-height: calc(1024px * 0.2);
  width: auto;
  height: auto;
  border: solid 2px #dddddd;
  margin: auto;
  margin-top: 2rem;
}

#personal {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: #eeeeee;
}

#personal ul {
  list-style-type: none;
  padding-left: 0.5rem;
}

#personal ul li {
  display: flex;
  margin-bottom: 1rem;
  align-items: baseline;
}

#personal .icon {
  margin-right: 0.25rem;
}

.personal__data,
.personal__data--link {
}
